In [25]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

In [26]:
cellphones_df = pd.read_csv('items.csv')
rewies_df = pd.read_csv('reviews.csv')
rewies_df.head()

,asin,name,rating,date,verified,title,body,helpfulVotes
0,B0000SX2UC,Janet,3,"October 11, 2005",False,"Def not best, but not worst",I had the Samsung A600 for awhile which is abs...,1.0
1,B0000SX2UC,Luke Wyatt,1,"January 7, 2004",False,Text Messaging Doesn't Work,Due to a software issue between Nokia and Spri...,17.0
2,B0000SX2UC,Brooke,5,"December 30, 2003",False,Love This Phone,"This is a great, reliable phone. I also purcha...",5.0
3,B0000SX2UC,amy m. teague,3,"March 18, 2004",False,"Love the Phone, BUT...!","I love the phone and all, because I really did...",1.0
4,B0000SX2UC,tristazbimmer,4,"August 28, 2005",False,"Great phone service and options, lousy case!",The phone has been great for every purpose it ...,1.0

In [27]:
cellphones_df.head()

,asin,brand,title,url,image,rating,reviewUrl,totalReviews,price,originalPrice
0,B0000SX2UC,NaN,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,https://www.amazon.com/Dual-Band-Tri-Mode-Acti...,https://m.media-amazon.com/images/I/2143EBQ210...,3.0,https://www.amazon.com/product-reviews/B0000SX2UC,14,0.00,0.0
1,B0009N5L7K,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,https://m.media-amazon.com/images/I/419WBAVDAR...,3.0,https://www.amazon.com/product-reviews/B0009N5L7K,7,49.95,0.0
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,https://m.media-amazon.com/images/I/71b+q3ydkI...,2.7,https://www.amazon.com/product-reviews/B000SKTZ0S,22,99.99,0.0
3,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,https://www.amazon.com/Motorola-i335-Phone-Boo...,https://m.media-amazon.com/images/I/710UO8gdT+...,3.3,https://www.amazon.com/product-reviews/B001AO4OUC,21,0.00,0.0
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,https://www.amazon.com/Motorola-V365-contract-...,https://m.media-amazon.com/images/I/61LYNCVrrK...,3.1,https://www.amazon.com/product-reviews/B001DCJAJG,12,149.99,0.0

In [28]:
nan_counts = cellphones_df.isna().sum()
print("NaN values per column:")
print(nan_counts)

NaN values per column:
asin             0
brand            4
title            0
url              0
image            0
rating           0
reviewUrl        0
totalReviews     0
price            0
originalPrice    0
dtype: int64

In [29]:
nan_counts = rewies_df.isna().sum()
print("NaN values per column:")
print(nan_counts)

NaN values per column:
asin                0
name                3
rating              0
date                0
verified            0
title              29
body               26
helpfulVotes    40771
dtype: int64

In [30]:
total_nan = cellphones_df.isna().sum().sum()
print(f"Total NaN values in the DataFrame: {total_nan}")

Total NaN values in the DataFrame: 4

In [31]:
total_nan = rewies_df.isna().sum().sum()
print(f"Total NaN values in the DataFrame: {total_nan}")

Total NaN values in the DataFrame: 40829

In [32]:
cellphones_df = cellphones_df.dropna()

print("DataFrame after removing rows with NaN values:")

DataFrame after removing rows with NaN values:

In [33]:
cellphones_df = cellphones_df.drop([ 'url' , 'image' , 'reviewUrl' ], axis=1)
cellphones_df

,asin,brand,title,rating,totalReviews,price,originalPrice
1,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00
2,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,2.7,22,99.99,0.00
3,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,3.3,21,0.00,0.00
4,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,3.1,12,149.99,0.00
5,B001GQ3DJM,Nokia,Nokia 1680 Black Phone (T-Mobile),2.7,3,0.00,0.00
...,...,...,...,...,...,...,...
715,B07ZPKZSSC,Apple,"Apple iPhone 11 Pro, 64GB, Fully Unlocked - Sp...",1.0,1,949.00,0.00
716,B07ZQSGP53,Xiaomi,"Xiaomi Redmi Note 8, 32GB/3GB RAM 6.3"" FHD+ Di...",4.6,3,150.96,0.00
717,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,948.00,0.00
718,B081TJFVCJ,Apple,"Apple iPhone X, 64GB, Gray - Fully Unlocked (R...",5.0,1,478.97,0.00
719,B0825BB7SG,Samsung,Straight Talk Samsung Galaxy A10e Smartphone 5...,5.0,1,139.00,139.26

In [35]:
rewies_df = rewies_df.drop([ 'name' , 'date' , 'verified' , 'title' , 'body' ], axis=1)
rewies_df

             asin  rating  helpfulVotes
0      B0000SX2UC       3           1.0
1      B0000SX2UC       1          17.0
2      B0000SX2UC       5           5.0
3      B0000SX2UC       3           1.0
4      B0000SX2UC       4           1.0
...           ...     ...           ...
67981  B081H6STQQ       5           1.0
67982  B081H6STQQ       5           1.0
67983  B081H6STQQ       5           NaN
67984  B081TJFVCJ       5           NaN
67985  B0825BB7SG       5           NaN

[67986 rows x 3 columns]

In [36]:
merged_df = pd.merge(cellphones_df , rewies_df , on='asin', how='inner')

print("Merged DataFrame:")
merged_df

Merged DataFrame:

,asin,brand,title,rating_x,totalReviews,price,originalPrice,rating_y,helpfulVotes
0,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00,1,NaN
1,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00,4,NaN
2,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00,5,NaN
3,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00,1,NaN
4,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00,5,NaN
...,...,...,...,...,...,...,...,...,...
67781,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,948.00,0.00,5,1.0
67782,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,948.00,0.00,5,1.0
67783,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,948.00,0.00,5,NaN
67784,B081TJFVCJ,Apple,"Apple iPhone X, 64GB, Gray - Fully Unlocked (R...",5.0,1,478.97,0.00,5,NaN
67785,B0825BB7SG,Samsung,Straight Talk Samsung Galaxy A10e Smartphone 5...,5.0,1,139.00,139.26,5,NaN